/* styles.css */

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#code-section {
  flex-basis: 48%;
  margin-bottom: 20px;
}
#code-input {
  width: calc(100% - 20px);
  height: 290px;
}
#compile-button {
  width: calc(100% - 30px);
  height: 40px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-icon:before {
  content: "\25B6"; /* Unicode character for play icon */
  font-size: 1.2em;
  margin-right: 5px;
}
.output-section {
  flex-basis: 48%;
  overflow-y: auto; /* Add scrollbar */
}
#console-output {
  height: 200px; /* Fixed height */
  width: 93%;
  padding: 10px;
  margin-left: 20px;
  overflow-y: auto; /* Add scrollbar */
}
#quadruples-output {
  height: 300px; /* Fixed height */
  width: 96%;
  padding: 10px;
  overflow-y: auto; /* Add scrollbar */
}
#console-output {
  background-color: black;
  color: white;
}
#quadruples-output {
  background-color: #f0f0f0;
}
#symbol-table table {
  width: 100%;
  border-collapse: collapse;
}
#symbol-table table th,
#symbol-table table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#symbol-table table th {
  background-color: #f2f2f2;
}
#quadruples-output {
  white-space: pre-wrap; /* Ensures white spaces, tabs, and line breaks are preserved */
  font-family: monospace; /* Use a monospace font for better alignment of text */
}

/* CodeMirror styles */
.CodeMirror {
  background-color: #f0f0f0; /* Set background color to grey */
  font-size: 16px;
}
.cm-keyword {
  color: blue; /* Color for keywords */
  font-weight: bold;
}
.cm-atom {
  color: blue; /* Color for atoms, e.g., true, false */
}
.cm-variable {
  color: navy; /* Color for variables */
}
.cm-number {
  color: purple; /* Color for numbers */
}
.cm-string {
  color: rgb(192, 41, 0); /* Color for strings */
}
.cm-comment {
  color: green; /* Color for comments */
}

/* spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-text {
  display: inline-block;
  vertical-align: middle;
}

/*toggle theme button*/
#theme-toggle {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

#theme-toggle:hover {
  background-color: #343a40;
}

#theme-toggle:focus {
  outline: none;
}
#theme-toggle .icon {
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
